{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier",
    "plugin:sonarjs/recommended"
    ],
    "plugins": ["prettier", "sonarjs"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
            "sonarjs/prefer-immediate-return": "error"

    }
}
